@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--prim-text);
  background-color: var(--prim-bcgd);
  &.locked {
    overflow: hidden;
    pointer-events: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
