.customers-say {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/background2-mob.png);

  &__container {
    @extend %container;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: var(--prim-text);
    margin-bottom: 20px;

    // @include mobile {
    //   font-size: 42px;
    //   line-height: 1.16;
    // }
  }

  &__text {
    margin-bottom: 32px;
  }

  &__item {
    padding: 8px;
    border-radius: 0px 30px 30px 30px;
    background-color: var(--tert-bcgd);
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__comment {
    margin-top: 28px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
  }

  &__avatar--man {
    display: inline-flex;
    align-items: center;
  }

  &__avatar--man::before {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    content: '';
    background-image: url(../images/customer1.png);
  }

  &__avatar--girl {
    display: inline-flex;
    align-items: center;
  }

  &__avatar--girl::before {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    content: '';
    background-image: url(../images/customer2.png);
  }

  &__avatar-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  &__avatar-status {
    line-height: 150%;
  }

  &__avatar-info {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 14px;
    display: inline-block;
    border-right: 0.854167px solid #7eb101;
  }

  // &__avatar-info::before {
  //   display: inline-block;
  //   width: 48px;
  //   height: 48px;
  //   content: '';
  //   background-image: url(../images/customer1.png);
  // }
}
