.footer .container {
  @extend %container;

  padding-top: 60px;
  padding-bottom: 60px;
  background-position: bottom;

  background-repeat: no-repeat;
  background-size: 100%;

  @include mobile {
    background-size: 100% 100%;

    background-image: url(../images/footer-mob.png);

    @include retina {
      background-image: url(../images/footer-mob-2x.png);
    }
  }

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(../images/footer-tablet.png);

    @include retina {
      background-image: url(../images/footer-tablet-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/footer-desktop.png);

    @include retina {
      background-image: url(../images/footer-desktop-2x.png);
    }
  }
}

.footer-start {
  @include desktop {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 80px;
  }
}

.footer .logo {
  padding: 0;
}

.footer {
  box-shadow: var(--box-shadow-header);

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include tablet {
      align-items: center;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 10px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: var(--border-color);
    @include tablet {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.footer-nav {
  margin-right: 80px;

  @include tablet {
    display: flex;
    gap: 28px;
    margin-right: 200px;
  }

  @include desktop {
    margin-right: 0;
    margin-left: 148px;
  }

  &__item {
    color: var(--scnd-text);

    &:not(:last-child) {
      @include mobile {
        margin-bottom: 20px;
      }
    }
  }
  &__link {
    @include animated(color);
    @include tablet {
      display: inline-block;
      padding-top: 18px;
      padding-bottom: 18px;
      &::after {
        content: '';
        opacity: 0;
        display: block;
        border-bottom: 1px solid var(--accent);
        @include animated(opacity);
      }
      &:hover,
      &:focus,
      &:active {
        &::after {
          opacity: 1;
        }
        color: var(--accent);
      }
    }
  }
}

.footer-form {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include desktop {
    margin-bottom: 0;
  }

  &__wrapper {
    margin-bottom: 20px;
    @include tablet {
      display: flex;
      align-items: flex-end;
    }
  }

  &__label {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 1.5;
    color: var(--prim-text);
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__title {
    display: block;
  }

  &__input {
    margin-top: 12px;
    width: 100%;
    height: 42px;
    font-size: 12px;
    line-height: 1.5;

    border: 0.854167px solid var(--accent-scnd);
    border-radius: 30px;
    background-color: var(--tert-bcgd);

    padding-left: 12px;

    outline: none;

    @include animated(border-color);

    &:hover,
    &:focus {
      border-color: var(--accent);
    }

    @include tablet {
      width: 279px;
    }
  }

  &__btn {
    display: block;
    margin-left: auto;
    cursor: pointer;
    height: 42px;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;

    padding: 11px 22px;

    background-color: #ffffff;
    border: 0.854167px solid var(--border-color);
    border-radius: 30px;

    @include animated;

    &:hover,
    &:focus {
      background-color: var(--accent-scnd);
    }

    @include tablet {
      margin-left: 13px;
    }
  }

  &__text {
    font-size: 10px;
    line-height: 1.2;
    color: var(--prim-text);

    @include tablet {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.footer-lists {
  display: flex;

  margin-bottom: 40px;

  @include mobile {
    justify-content: space-around;
  }

  @include tablet {
    margin-bottom: 0;
    gap: 20px;
  }
}

.footer-end {
  text-align: center;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
