.header__container {
  @extend %container;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: transparent;
  background: var(--prim-bcgd);
  box-shadow: 0px 4px 24px var(--box-shadow-header);

  @media screen and (min-width: 768px) {
    justify-content: end;
  }
}

.logo {
  padding: 10px 0;
}

.logo__icon {
  width: 66px;
  height: 52px;

  text-decoration: none;
}

.menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
}

.menu__item {
  @media screen and (min-width: 768px) {
    padding-top: 28px;
    padding-bottom: 28px;

    &:not(:first-child) {
      margin-left: 28px;
    }
  }
}

.menu__link {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: var(--prim-text);
  }
}

.menu__link--current:hover,
.menu__link--current:focus {
  text-decoration-line: underline;

  color: var(--accent);
}

.order {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 30px;
    border-radius: 30px;
    border: transparent;
    padding: 6px 18px;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: var(--accent);
    color: var(--prim-text);
    cursor: pointer;
  }
}

.page-header__icon-open {
  display: block;
}

.page-header__btn-open {
  display: block;
  border: none;
  padding: 22px 0;
  background-color: var(--prim-bcgd);
  fill: var(--border-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
