.header__container {
  @extend %container;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: transparent;
  background: var(--prim-bcgd);
  box-shadow: var(--box-shadow-header);

  @include tablet {
    justify-content: end;
  }
}

.logo {
  padding: 10px 0;
}

.logo__icon {
  display: block;
  width: 66px;
  height: 52px;

  text-decoration: none;
}

.menu {
  display: none;

  @include tablet {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
}

.menu__item {
  &:not(:first-child) {
    margin-left: 28px;
  }
}

.menu__link {
  display: block;
  @include tablet {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: var(--scnd-text);
    &:hover,
    &:focus {
      text-decoration-line: underline;

      color: var(--accent);
    }
  }
}

.menu__link--current {
  text-decoration-line: underline;

  color: var(--accent);
}

.order {
  display: none;

  @include tablet {
    display: block;
    margin-left: 30px;
    border-radius: 30px;
    border: transparent;
    padding: 6px 18px;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: var(--accent);
    color: var(--prim-text);
    cursor: pointer;
  }
}

.page-header__icon-open {
  display: block;
}

.page-header__btn-open {
  display: block;
  border: none;
  padding: 22px 0;
  background-color: var(--prim-bcgd);
  fill: var(--border-color);

  @include tablet {
    display: none;
  }
}
