.hero {
  margin-top: 72px;
}
.hero__container {
  @extend %container;
  position: relative;

  @include mobile {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 60px;
  }
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hero__info {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: inline-block;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  @include mobile {
    margin: 0 auto;
    margin-bottom: 28px;
  }

  @include tablet {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.19;
    width: 481px;
  }
  @include desktop {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.21;
    width: 502px;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 28px;

  @include tablet {
    font-size: 16px;
    max-width: 336px;
    margin-top: 44px;
    margin-bottom: 40px;
  }
  @include desktop {
    font-size: 16px;
    max-width: 502px;
    margin-top: 28px;
    margin-bottom: 40px;
  }
}

.hero__btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  color: var(--prim-text);
  width: 98px;
  height: 32px;
  background-color: var(--accent);
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-bcgd-focus);
  }
}
