.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--backdrop);
    transform: scale(1);
    transition-duration: 500ms;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    & .modal {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 32px 20px;

        width: 100vw;
        max-width: 458px;

        background-color: var(--accent-scnd);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        border-radius: 30px;


    }

    & .btn-close {
        position: absolute;
        top: 16px;
        right: 16px;

        cursor: pointer;

        border-radius: 50%;

        padding: 4px;

        border: none;
        background-color: var(--tert-bcgd);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

    }

    & .btn-close__icon {
        display: block;

        fill: var(--prim-text);
    }

    & .modal__title {
        text-align: center;

        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;

        margin-bottom: 20px;
    }

    & .form__field {
        display: flex;
        flex-direction: column;

        margin-bottom: 24px;


        & .form__label {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.4;

            margin-bottom: 2px;

            color: var(--prim-text);
        }

        & input {
            width: 100%;

            padding-top: 14px;
            padding-left: 12px;
            padding-bottom: 14px;

            border: 1px solid #7EB101;
            box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 30px;

        }
    }

    & .btn-send {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        font-family: inherit;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;

        padding: 10px 38px;
        margin-top: 8px;

        background-color: var(--accent);
        border: 2px solid #7EB101;
        border-radius: 30px;
    }
}