.subscribe {
    padding-bottom: 60px;

    @include tablet {
    padding-bottom: 100px;
    }

    @include desktop {
    padding-bottom: 64px;
    }

&__image {
    width: 280px;
    height: 78px;
margin-bottom: 20px;

@include tablet {
width: 281px;
    height: 136px;
}

@include desktop {
width: 608px;
    height: 266px;
}
}

&__title {
font-weight: 700;
    font-size: 28px;
    line-height: 1.53;
    color: var(--prim-text);
    margin-bottom: 20px;

    @include tablet {
    font-size: 42px;
        line-height: 1.19;
        width: 656px;
    }

    @include desktop {
    font-size: 42px;
        line-height: 1.19;
        width: 656px;
        
    }
}

&__text {
font-size: 14px;
    line-height: 1.14;
    color: var(--prim-text);
    margin-bottom: 40px;

    @include tablet {
    font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    @include desktop {
    font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;
    }
}

&__input {
width: 100%;
height: 42px;
border: 0.854167px solid var(--accent-scnd);
    border-radius: 30px;
    outline: none;
    padding: 12px;
    margin-bottom: 20px;

    @include tablet {
    width: 394px;
    margin-right: 22px;
    }

    @include desktop {
    width: 394px;
    margin-right: 32px;
    }
    
}

&__input::placeholder {
font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

&__btn {
    font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        color: var(--prim-text);
        border: none;
background: #BBF330;
    border-radius: 30px;
    padding: 11px 22px;
}
}