:root {
  --accent: #bbf330;
  --accent-scnd: #ffe550;
  --prim-text: #2c2c2c;
  --scnd-text: #000000;
  --prim-bcgd: #fefefe;
  --scnd-bcgd: #f5f5f5;
  --tert-bcgd: #ffffff;
  --btn-bcgd-focus: #b5ff00;
  --border-color: #7eb101;
  --border-focus: #597d00;
  --placeholder: #c4c4c4;
  --backdrop: rgba(94, 99, 99, 0.7);
  --box-shadow-header: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
