<section class="customers-say" id="customers-say">
  <div class="customers-say__container">
    <h2 class="customers-say__title">What our Customers Say</h2>
    <p class="customers-say__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-say__list">
      <li class="customers-say__item">
        <ul class="custemers-say__item-list">
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="customers-say__comment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers-say__avatar--man">
          <ul class="customers-say__avatar-info">
            <li class="customers-say__avatar-name">Sumith Shah</li>
            <li class="customers-say__avatar-status">Some Dude</li>
          </ul>
        </div>
      </li>
      <li class="customers-say__item">
        <ul class="custemers-say__item-list">
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="customers-say__item-star">
            <svg class="customers-say__star" width="17px" height="16px">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="customers-say__comment">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers-say__avatar--girl">
          <ul class="customers-say__avatar-info">
            <li class="customers-say__avatar-name">Sumith Shah</li>
            <li class="customers-say__avatar-status">Some Dude</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
