<div class="container">
    <section class="favorites">
        <h2 class="favorites__header">Some of Our Favorites</h2>
        <p class="favorites__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <ul class="favorites__list">
                <li class="favorites__item"><img class="favorites__image" src="./images/gamburger-desktop.png" alt="picture of a burger"></li>
                <li class="favorites__item"><img class="favorites__image" src="./images/pasta-desktop.png" alt="picture of pasta"></li>
                <li class="favorites__item"><img class="favorites__image" src="./images/pizza-desktop.png" alt="picture of a pizza"></li>
                <li class="favorites__item"><img class="favorites__image" src="./images/chicken-desktop.png" alt="picture of chicken with rice"></li>
                <li class="favorites__item"><img class="favorites__image" src="./images/salat-desktop.png" alt="picture of a salad"></li>
                <li class="favorites__item"><img class="favorites__image" src="./images/borshch-desktop.png" alt="picture of borshch"></li>
            </ul>
    </section>
</div>