<div class="container">
    <section class="favorites">
        <h2 class="favorites__header">Some of Our Favorites</h2>
        <p class="favorites__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <ul class="favorites__list">
                <li class="favorites__item">
                    <div class="favorites__border">
                        <picture>
                            <source srcset="./images/gamburger-desktop.png 1x, ./images/gamburger-desktop-2x.png 2x"
                            media="(min-width: 1200px)"
                            />
                            <source srcset="./images/gamburger-tablet.png 1x, ./images/gamburger-tablet-2x.png 2x"
                            media="(min-width: 768px)"
                            />
                            <source srcset="./images/gamburger-mob.png 1x, ./images/gamburger-mob-2x.png 2x"
                            media="(max-width: 767px)"
                            />
                            <img class="favorites__image" src="./images/gamburger-desktop.png" alt="picture of a burger">
                        </picture>
                    </div>
                </li>
                <li class="favorites__item">
                    <div class="favorites__border">
                        <picture>
                            <source srcset="./images/pasta-desktop.png 1x, ./images/pasta-desktop-2x.png 2x"
                            media="(min-width: 1200px)"
                            />
                            <source srcset="./images/pasta-tablet.png 1x, ./images/pasta-tablet-2x.png 2x"
                            media="(min-width: 768px)"
                            />
                            <source srcset="./images/pasta-mob.png 1x, ./images/pasta-mob-2x.png 2x"
                            media="(max-width: 767px)"
                            />
                            <img class="favorites__image" src="./images/pasta-desktop.png" alt="picture of pasta">
                        </picture>
                    </div>
                </li>
                <li class="favorites__item">
                    <div class="favorites__border">
                        <picture>
                            <source srcset="./images/pizza-desktop.png 1x, ./images/pizza-desktop-2x.png 2x"
                            media="(min-width: 1200px)"
                            />
                            <source srcset="./images/pizza-tablet.png 1x, ./images/pizza-tablet-2x.png 2x"
                            media="(min-width: 768px)"
                            />
                            <source srcset="./images/pizza-mob.png 1x, ./images/pizza-mob-2x.png 2x"
                            media="(max-width: 767px)"
                            />
                            <img class="favorites__image" src="./images/pizza-desktop.png" alt="picture of a pizza">
                        </picture>
                    </div>
                </li>
                <li class="favorites__item">
                    <div class="favorites__border">
                        <picture>
                            <source srcset="./images/chicken-desktop.png 1x, ./images/chicken-desktop-2x.png 2x"
                            media="(min-width: 1200px)"
                            />
                            <source srcset="./images/chicken-tablet.png 1x, ./images/chicken-tablet-2x.png 2x"
                            media="(min-width: 768px)"
                            />
                            <img class="favorites__image" src="./images/chicken-desktop.png" alt="picture of chicken with rice">
                        </picture>
                    </div>
                </li>
                <li class="favorites__item">
                    <div class="favorites__border">
                        <picture>
                            <source srcset="./images/salat-desktop.png 1x, ./images/salat-desktop-2x.png 2x"
                            media="(min-width: 1200px)"
                            />
                            <source srcset="./images/salat-tablet.png 1x, ./images/salat-tablet-2x.png 2x"
                            media="(min-width: 768px)"
                            />
                            <img class="favorites__image" src="./images/salat-desktop.png" alt="picture of a salad">
                        </picture>
                    </div>
                </li>
                <li class="favorites__item">
                    <div class="favorites__border">
                        <picture>
                            <source srcset="./images/borshch-desktop.png 1x, ./images/borshch-desktop-2x.png 2x"
                            media="(min-width: 1200px)"
                            />
                            <source srcset="./images/borshch-tablet.png 1x, ./images/borshch-tablet-2x.png 2x"
                            media="(min-width: 768px)"
                            />
                            <img class="favorites__image" src="./images/borshch-desktop.png" alt="picture of borshch">
                        </picture>
                    </div>
                </li>
            </ul>
    </section>
</div>