<footer class="footer">
  <div class="container">
    <div class="footer-start">
      <div class="footer__box">
        <a href="#body" class="logo">
          <svg class="logo__icon">
            <use href="./images/sprite.svg#logo"></use>
          </svg>
        </a>
        <ul class="footer-nav">
          <li class="footer-nav__item">
            <a href="#hero" class="footer-nav__link">Hero</a>
          </li>
          <li class="footer-nav__item">
            <a href="#offerings" class="footer-nav__link">Offerings</a>
          </li>
          <li class="footer-nav__item">
            <a href="#favorites" class="footer-nav__link">Favorites</a>
          </li>
          <li class="footer-nav__item">
            <a href="#customers" class="footer-nav__link">Customers Say</a>
          </li>
          <li class="footer-nav__item">
            <a href="#subscribe" class="footer-nav__link">Subscribe</a>
          </li>
        </ul>
      </div>
      <form action="" class="footer-form">
        <div class="footer-form__wrapper">
          <label class="footer-form__label" for="email">
            <span class="footer-form__title">Subscribe</span>
            <input
              type="email"
              name="email"
              class="footer-form__input input-validator"
              placeholder="Enter your email"
              id="email"
            />
            <span class="input-error">
              <svg class="input-error-icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-error"></use>
              </svg>
              Not a valid email address (example@email.com)
            </span>
          </label>
          <button type="submit" class="footer-form__btn">Subscribe</button>
        </div>
        <p class="footer-form__text">
          By subscribing you agree to with our
          <a href="" class="footer__link">Privacy Policy</a>
        </p>
      </form>
    </div>
    <div class="footer-end">
      <ul class="footer-lists">
        <li class="footer-lists__item">
          <a href="#" class="footer__link">Privacy Policy</a>
        </li>
        <li class="footer-lists__item">
          <a href="#" class="footer__link">Terms of Service</a>
        </li>
        <li class="footer-lists__item">
          <a href="#" class="footer__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-form__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
