<!-- Шапка -->
<header class="page-header">
  <div>
    <!-- Header nav -->
    <nav class="header header__container">
      <!-- Header logo -->
      <a href="#" class="logo"
        ><svg class="logo__icon">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link menu__link--current" href="#hero">Hero</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#offerings">Offerings</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#favorites">Favorites</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#customers Say">Customers Say</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#subscribe">Subscribe</a>
        </li>
      </ul>
      <!-- Header button -->
      <button class="page-header__btn-open" type="button" data-menu-open>
        <svg class="page-header__icon-open" width="28" height="28">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
      <button class="order" type="button">order now</button>
    </nav>
  </div>
</header>
