<header class="page-header">
  <nav class="header container">
    <a href="#" class="logo"
      ><svg class="logo__icon" width="66" height="52">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">about</a></li>
      <li class="menu__item"><a class="menu__link" href="#">service</a></li>
      <li class="menu__item"><a class="menu__link" href="#">menu</a></li>
      <li class="menu__item"><a class="menu__link" href="#">contact</a></li>
    </ul>
    <button class="order" type="button">order now</button>
  </nav>
</header>
