<section class="offerings">
    <div class="offerings__img-wrap">
        <picture>
            <source srcset="
                                ./images/apple-desktop.png 1x,
                                ./images/apple-desktop-2x.png 2x" media="(min-width: 1280px)">
            <source srcset="
                                ./images/apple-tablet.png 1x,
                                ./images/apple-tablet-2x.png 2x" media="(min-width: 768px)">
            <source srcset="
                                ./images/apple-mob.png 1x,
                                ./images/apple-mob-2x.png 2x" media="(max-width: 768px)">
            <img src="./images/apple-mob.png" alt="Apple">
        </picture>
    </div>
    <div class="offerings__info">
        <h1 class="offerings__title">What’s Special About Our Offerings</h1>
        <p class="offerings__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="features-list">
            <li class="features-list__item">
                <h3 class="features-list__title">Fasest Delivery</h3>
                <p class="features-list__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                    enim in eros.</p>
            </li>
            <li class="features-list__item">
                <h3 class="features-list__title">Easy To Order</h3>
                <p class="features-list__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                    enim in eros.</p>
            </li>
        </ul>
        <div class="offerings__click-items">
            <button type="button" class="offerings__btn">Order Now</button>
            <a href="#" class="offerings__link">
                Read More
                <svg class="offerings__svg" width="14" height="14">
                    <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>